@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

$font-headings: 'Combo', cursive;
$font-info: sans-serif;

$color-black: #000;
$color-white: #fff;

$color-primary: #151A2F;
$color-secondary: #EE6097;
$color-background: #1d1a6c;
$color-see-through-black: rgba(21, 26, 47, 0.7)
